---
# Networking Role - Handlers

- name: Restart systemd-resolved
  systemd:
    name: systemd-resolved
    state: restarted

- name: Restart systemd-timesyncd
  systemd:
    name: systemd-timesyncd
    state: restarted

- name: Restart systemd-networkd
  systemd:
    name: systemd-networkd
    state: restarted
