# {{ ansible_managed }}
# Auto-provisioned Prometheus datasource

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: {{ prometheus_url }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
