---
# Networking Role - Network Configuration

- name: Configure DNS resolution
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    mode: '0644'
  when: configure_dns | bool

- name: Ensure systemd-resolved is configured
  lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop:
    - { regexp: '^#?DNS=', line: 'DNS={{ dns_servers | join(" ") }}' }
    - { regexp: '^#?FallbackDNS=', line: 'FallbackDNS={{ fallback_dns_servers | join(" ") }}' }
  notify: Restart systemd-resolved
  when: use_systemd_resolved | bool

- name: Check if systemd-timesyncd is available
  command: systemctl list-unit-files systemd-timesyncd.service
  register: timesyncd_check
  changed_when: false
  failed_when: false

- name: Enable and start systemd-timesyncd
  systemd:
    name: systemd-timesyncd
    enabled: yes
    state: started
  when: timesyncd_check.rc == 0 and 'systemd-timesyncd' in timesyncd_check.stdout

- name: Configure NTP servers
  lineinfile:
    path: /etc/systemd/timesyncd.conf
    regexp: '^#?NTP='
    line: "NTP={{ ntp_servers | join(' ') }}"
    state: present
  notify: Restart systemd-timesyncd
  when: timesyncd_check.rc == 0 and 'systemd-timesyncd' in timesyncd_check.stdout

- name: Ensure network services are enabled
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - systemd-networkd
    - systemd-resolved
  ignore_errors: yes

- name: Set network interface to use DHCP
  copy:
    content: |
      [Match]
      Name=en*

      [Network]
      DHCP=yes

      [DHCP]
      UseDNS=yes
      UseNTP=yes
    dest: /etc/systemd/network/20-wired.network
    mode: '0644'
  notify: Restart systemd-networkd
  when: configure_network_interface | bool
